<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UEPF</display-name>
  <welcome-file-list>
    <welcome-file>/html/Sarrera.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>600</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>uepf.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/uepf/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>uepf.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/uepf/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>uepf.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/uepf/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasahitzaServlet</servlet-name>
    <servlet-class>uepf.PasahitzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasahitzaServlet</servlet-name>
    <url-pattern>/uepf/PasahitzaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JspDeituServlet</servlet-name>
    <servlet-class>uepf.JspDeituServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JspDeituServlet</servlet-name>
    <url-pattern>/uepf/JspDeituServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EguneraketaServlet</servlet-name>
    <servlet-class>uepf.EguneraketaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EguneraketaServlet</servlet-name>
    <url-pattern>/uepf/EguneraketaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LizentziaEskatuServlet</servlet-name>
    <servlet-class>uepf.LizentziaEskatuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LizentziaEskatuServlet</servlet-name>
    <url-pattern>/uepf/LizentziaEskatuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>uepf.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/uepf/PdfServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DatuakServlet</servlet-name>
    <servlet-class>uepf.DatuakServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatuakServlet</servlet-name>
    <url-pattern>/uepf/DatuakServlet</url-pattern>
  </servlet-mapping>
</web-app>